{% extends "generator/base.html" %}

{% block content %}
  <h2>Регистрация</h2>
  <form method="post" class="registration-form">
    {% csrf_token %}
    <div class="registration-form-group">
        <label for="{{ form.username.id_for_label }}" class="registration-label">Имя пользователя:</label>
        {{ form.username }}
    </div>
    <div class="registration-form-group">
        <label for="{{ form.email.id_for_label }}" class="registration-label">Email:</label>
        {{ form.email }}
    </div>
    <div class="registration-form-group">
        <label for="{{ form.password1.id_for_label }}" class="registration-label">Пароль:</label>
        {{ form.password1 }}
    </div>
    <div class="registration-form-group">
        <label for="{{ form.password2.id_for_label }}" class="registration-label">Повторите пароль:</label>
        {{ form.password2 }}
    </div>
    <button type="submit" class="registration-button">Зарегистрироваться</button>
</form>



{% endblock %}