{% extends "generator/base.html" %}

{% block content %}

<h1>Генератор пароля</h1>

<form method="POST" action="">
    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" value="Сгенерировать пароль">
</form>

{% if password %}
<h2>Сгенерированный пароль:</h2>
<p>{{ password }}</p>

<a href="{% url 'generate_password' %}" class="btn btn-primary">Назад</a>
<form method="post" action="{% url 'save_password' %}">
    {% csrf_token %}
    <input type="hidden" name="generated_password" value="{{ password }}">
    <input type="submit" value="Сохранить пароль" class="btn btn-success">
</form>

{% endif %}
{% endblock %}
