{% extends "generator/base.html" %}

{% block content %}
{% load static %}
    <h1>Мои пароли</h1>
    <table>
        <thead>
            <tr>
                <th>Пароль</th>
                <th>Описание</th>
                <th>Дата создания</th>
                <th>Действия</th> <!-- Добавлена колонка для кнопки "Скопировать" -->
            </tr>
        </thead>
        <tbody>
            {% for saved_password in saved_passwords %}
                <tr>
                    <td>{{ saved_password.password }}</td>
                    <td>{{ saved_password.description }}</td>
                    <td>{{ saved_password.created_at }}</td>
                    <td>
                        <button class="copy-button" data-password="{{ saved_password.password }}">
                            Скопировать
                        </button>
                        <a href="{% url 'delete_password' saved_password.id %}">Удалить</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">У вас пока нет сохраненных паролей.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

<script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}
